<template>
    <div>
        <h1>{{person.name}}</h1>

        <div s-if="person.age < 18">Child</div>
        <div s-if="person.age >= 18">Adult</div>

        <warning data-type="error" s-if="person.age < 18">
            This person is a minor
        </warning>

        <warning data-type="warn" s-else>
            This person is an adult
        </warning>

        <div s-if="isset('test')">Test</div>
        <div s-else>No Test</div>

        <div>
            {{person.name}} has {{count(person.hobbies)}} {{count(person.hobbies) == 1 ? 'hobby' : 'hobbies'}}
        </div>

        <ul>
            <li s-for="person.hobbies as hobby">{{hobby}}</li>
        </ul>

        <div>
            Mixed text {{person.name}} <b>and nodes</b>
        </div>

        <warning s-for="person.hobbies as hobby" data-type="warn">{{hobby}}</warning>

        <obj data-s-object="object"></obj>

        <input type="checkbox" disabled>
        <input type="checkbox" disabled="false">

        <footer data-bold="test text"></footer>

    </div>
</template>

<config>
    [
        "globals" => [
            "title" => "Example Page"
        ]
    ]
</config>
